@import "tailwindcss";
@plugin "./hero.ts";

@source "./**/*.{js,ts,jsx,tsx,mdx}";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));
@layer base {
  html { scroll-behavior: smooth; }
}
